{% extends 'bboard/base.html' %}

{% block title %}
    {{ current_rubric }}
{% endblock %}

{% block name %}
    В категории <strong>{{ current_rubric }}</strong>
{% endblock %}

{% block content %}
    {% for item in items %}
        <h2><a href="{% url 'detail' pk=item.pk %}">{{ item.title }}</a></h2>
        <p><a href="{% url 'rubric' item.rubric.pk %}">{{ item.rubric }}</a></p>
        <p>{{ item.description }}</p>
        <p><strong>{{ item.price }}</strong></p>
        <p>{{ item.date|date:"d.m.Y H:i" }}</p>
    {% endfor %}

    <a href="{% url 'add' %}">Добавить новое</a>
{% endblock %}

