{% extends 'bboard/base.html' %}

{% block title %}
Результаты поиска
{% endblock %}


{% block content %}

    {% with bb_count=items.count %}
        <h2>Было найдено {{ length }}.</h2>
    {% endwith %}

    {% load filtersandtags %}

    {% for item in items %}
        <a class="lead" style="text-decoration: none;" href="{% url 'detail' pk=item.pk %}">{{ item.title }}</a>
        <p class="alert alert-secondary">
            {{ item.description|truncatechars:'50' }}</p>
        <p><strong>{{ item.price|currency:'UAH' }}</strong></p>
        <p>{{ item.date|date:"d.m.Y H:i" }}</p>
        <br>
        <br>
        <br>
    {% empty %}
        <h1>There are no items in the list of publications</h1>
    {% endfor %}

{% endblock %}