.navbar {
    font-size: 15px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: lightgray;
}

.logo {
    padding: 10px;
}

.add-item {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    transition: .1s ease-in-out;
}

.add-item:hover {
    background: #fff;
}

.container {
    margin: 0 30%;
}

header h1 {
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
}

.navbar a {
    flex: 1 1 1;
    margin: 10px 15px;
    text-decoration: none;
}

.item1 {
    color: red;
}

.item2 {
    color: blue;
}
.item3 {
    color: green;
}

.progressbar {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 0%;
    height: 3px;
    background-color: #fc972b;
}